<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>词云制作</title>
    <link rel="shortcut icon" type="image/x-icon" href='{% static "images/img/favicon.png" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "bootstrap-3.3.7-dist/css/bootstrap.min.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}'>
    <link rel="stylesheet" type="text/css" href=' {% static "css/modal.css" %}'>
    <link rel="stylesheet" type="text/css" href=' {% static "css/leftnav.css" %}'>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static "js/background.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/leftnav.js' %}"></script>
    <script type="text/javascript" src="{% static "js/login.js" %}"></script>
    <script type="text/javascript" src="{% static "js/register.js" %}"></script>

</head>
<body id="bg">

{% include "header.html" %}

<section id="about">
    <div class="container">
        <div class="row">
            <!--section title-->
            <div class="title_page">
                <h2>About <span class="color">us</span></h2>
                <div class="border"></div>
            </div>
            <!-- /section title -->
        </div>
    </div>
</section>
<!-- end section -->

<div class="work_div">
    <aside>
        <ul id="accordion" class="accordion">
            <li>
                <div class="link"><i class="fa fa-leaf"></i>主题<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li id="ecology">生态文明主题</li>
                    <li id="traditional">传统文化主题</li>
                    <li id="party_building">党建主题</li>
                    <li id="custom">自定义主题</li>
                    <ul class="submenu">
                        <li>简单编辑</li>
                        <li>数据表格</li>
                        <li>词频分析</li>
                    </ul>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>模板<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li id="theme_bg">主题
                        <div>
                            <ul class="submenu">
                                <li>生态文明</li>
                                <li>传统文化</li>
                                <li>党建</li>
                                <li>自选模板</li>
                            </ul>
                        </div>
                    </li>
                    <li id="text_bg">文字
                        <div>
                            <ul class="submenu">
                                <li>输入文字</li>
                            </ul>
                        </div>
                    </li>
                    <li id="upload">上传</li>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-shopping-cart"></i>样式<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li id="text">文字</li>
                    <li id="typeface">字体</li>
                    <li id="text_spacing">文字间隔</li>
                    <li id="rotation_probability">旋转概率</li>
                    <li id="bg_color">背景色</li>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-unlock-alt"></i>下载<i class="fa fa-chevron-down"></i></div>
            </li>
        </ul>
        <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="../static/js/leftnav.js"></script>
    </aside>
    <main>
        <div class="cloub_work">
        </div>
    </main>
</div>

{% include "footer.html" %}

</body>
</html>
