<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>联系我们</title>
    <link rel="stylesheet" href="../static/css/base.css" type="text/css"/>
    <link href="../static/css/contact.css" rel='stylesheet' type='text/css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords"
          content="Pink Contact Form ,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements" ./>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>

    <!--webfonts-->
    <link href='http://fonts.useso.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic|Lora:400,700,400italic,700italic'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Raleway:400,200,300,500,600,800,700,900' rel='stylesheet'
          type='text/css'>
    <!--//webfonts-->
</head>
<body>
<!--顶部结构开始-->
div class="top">
    <p class="wrap">欢迎来到主题词云
        {% if request.session.is_login %}
            <span>
                用户：<em>{{ request.session.user_name }}</em>
                <a href="/logout/">退出</a>
            </span>
        {% else %}
            <a href="/register/">注册</a>
            <a href="/login/">登录</a>
        {% endif %}
    </p>
</div>
<!--顶部结构结束-->
<!--头部结构开始-->
<header class="wrap">
    <h1>李白词云</h1>
    <ul>
        <li><a href="/index/">主页</a></li>
        <li><a href="/about/">关于我们</a></li>
        <li><a href="/instruction/">主题词云</a></li>
        <li><a href="http://yciyun.com/">开始制作</a></li>
        <li><a href="/contact/">联系我们</a></li>
    </ul>
</header>
<!--头部结构结束-->
<main>
    <h1>Message Board</h1>
    <div class="login-01">
        <form>
            <ul>
                <li class="first">
                    <a href="#" class=" icon user"></a><input type="text" class="text" value="Name"
                                                              onFocus="this.value = '';"
                                                              onBlur="if (this.value == '') {this.value = 'Name';}">
                    <div class="clear"></div>
                </li>
                <li class="first">
                    <a href="#" class=" icon email"></a><input type="text" class="text" value="Email"
                                                               onFocus="this.value = '';"
                                                               onBlur="if (this.value == '') {this.value = 'Email';}">
                    <div class="clear"></div>
                </li>
                <li class="first">
                    <a href="#" class=" icon phone"></a><input type="text" class="text" value="Phone"
                                                               onFocus="this.value = '';"
                                                               onBlur="if (this.value == '') {this.value = 'Phone';}">
                    <div class="clear"></div>
                </li>
                <li class="second">
                    <a href="#" class=" icon msg"></a><textarea value="Message" onFocus="this.value = '';"
                                                                onBlur="if (this.value == '') {this.value = 'Comments';}">Comments</textarea>
                    <div class="clear"></div>
                </li>
            </ul>
            <input type="submit" onClick="myFunction()" value="提交">
            <div class="clear"></div>
        </form>
    </div>
    <!--start-copyright-->
    <div class="copy-right">
        <div class="wrap">
            <p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank"
                                                                         href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
            </p>
        </div>
    </div>
    <!--//end-copyright-->
</main>
</body>
</html>