<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>联系我们</title>
    <link rel="shortcut icon" type="image/x-icon" href='{% static "images/img/favicon.png" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "bootstrap-3.3.7-dist/css/bootstrap.min.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "css/modal.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "css/contact.css" %}'/>
    <script type="text/javascript" src="{% static "js/jquery-3.4.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/background.js" %}"></script>
    <script type="text/javascript" src="{% static "js/login.js" %}"></script>
    <script type="text/javascript" src="{% static "js/register.js" %}"></script>
</head>
<body id="bg">

{% include 'header.html' %}
<section id="contact-us">
    <div class="container">
        <div class="row">

            <!--section title-->
            <div class="title_page">
                <h2>Get In <span class="color">Touch</span></h2>
                <div class="border"></div>
            </div>
            <!-- /section title -->

            <!-- Contact Details -->
            <div class="contact-info col-md-6">
                <h3 style="font-size: 24px;">联系我们</h3>
                <p>欢迎来到联系我们，如果你有什么新的想法，新的建议，主题词云网为您提供电话、Email、在线等全方位的联系方式，不论您在国内或者国外，都欢迎您的建议与咨询。</p>
                <div class="contact-details">
                    <div class="con-info clearfix ">
                        <span class="glyphicon glyphicon-home"> 内蒙古师范大学赛罕校区理工楼A座</span>
                    </div>

                    <div class="con-info clearfix">
                        <span class="glyphicon glyphicon-phone-alt"> 电话: 15848143083</span>
                    </div>

                    <div class="con-info clearfix">
                        <span class="glyphicon glyphicon-earphone"> 手机: 15848143095</span>
                    </div>

                    <div class="con-info clearfix">
                        <span class="glyphicon glyphicon-envelope"> 邮件: themecloud2020@163.com</span>
                    </div>
                </div>
            </div>
            <!-- / End Contact Details -->

            <!-- Contact Form -->
            <div class="contact-form col-md-6 ">
                <form id="contact-form" method="post" action="/contact/" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        {% if request.session.is_login %}
                            <input type="text" value="{{ request.session.user_name }}" class="form-control"
                                   name="name" id="name">
                        {% else %}
                            <input type="text" placeholder="您的称呼" class="form-control" name="name" id="name">
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <input type="email" placeholder="您的邮件" class="form-control" name="eml" id="eml">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="标题" class="form-control" name="subject" id="subject">
                    </div>

                    <div class="form-group">
                        <textarea rows="6" placeholder="消息" class="form-control" name="message" id="message"></textarea>
                    </div>

                    <div id="mail-success" class="success">
                        谢谢使用，您的邮件已经成功发送！ :)
                    </div>

                    <div id="mail-fail" class="error">
                        对不起，发送过程中出现未知错误，请稍后尝试。 :(
                    </div>

                    <div id="cf-submit">
                        <input type="submit" id="contact-submit" class="btn btn-transparent" value="提 交">
                    </div>

                </form>
            </div>
            <!-- ./End Contact Form -->

        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end section -->

{% include 'footer.html' %}

</body>
</html>