<!--头部结构开始-->
<header>
    <div class="wrap">
        <h1>WordCloud</h1>
        <ul id="nav_header" class="nav_header">
            <li><a href="/index/" id="index">主页</a></li>
            <li><a href="/about/" id="about">关于我们</a></li>
            <li><a href="/instruction/" id="instruction">主题词云</a></li>
            <li><a href="/work/" id="work">开始制作</a></li>
            <li><a href="/contact/" id="contact">联系我们</a></li>
        </ul>
    </div>
    <!--头部注册登录结构开始-->
    <div class="right_modal">
        {% if request.session.is_login %}
            <span class="glyphicon glyphicon-user">
                <em>{{ request.session.user_name }}</em>
                <a href="/logout/" class="glyphicon glyphicon-remove"></a>
            </span>
        {% else %}
            <!-- register模态框 -->
            <button class="register_login" data-toggle="modal" data-target="#register">
                注册
            </button>
            <!-- 模态框（Modal）  注册开始-->
            <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="m-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="m-title">
                        用户注册
                    </h4>
                    <form class="reg_form" method="post" action="">
                        {% csrf_token %}
                        <ul>
                            <li>
                                <label>用户名:</label>
                                <input type="text" name="user_name" id="r_username">
                                <span id="errormessage">提示信息</span></li>
                            <li>
                                <label>密码:</label>
                                <input type="password" name="pwd" id="r_pwd">
                                <span id="errormessage">提示信息</span></li>
                            <li>
                                <label>确认密码:</label>
                                <input type="password" name="cpwd" id="cpwd">
                                <span id="errormessage">提示信息</span></li>
                            <li>
                                <label>Email:</label>
                                <input type="email" name="email" id="email">
                                <span id="errormessage">提示信息</span></li>
                        </ul>
                    </form>
                    <a class="text-left" data-toggle="modal" data-dismiss="modal" data-target="#login">立即登录</a>
                    <button type="submit" class="btn btn-primary" onclick="register()">注 册</button>
                    <span id="r_errmsg">提示信息</span>
                </div><!-- /.modal -->
            </div>
            <!-- 模态框（Modal） 注册结束-->
            <!-- login模态框 -->
            <button class="register_login" data-toggle="modal" data-target="#login">
                登录
            </button>
            <!-- 模态框（Modal） 登录开始 -->
            <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="m-body">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="m-title">
                        欢迎登录
                    </h4>
                    <form class="login_form" method="post" action="">
                        {% csrf_token %}
                        <input id="l_username" type="text" placeholder="请输入用户名" autocomplete="off">
                        <input id="l_pwd" type="password" placeholder="请输入密码" autocomplete="off">
                        <input id="code" type="text" placeholder="请输入验证码" autocomplete="off">
                        <img src="/verify_code" onclick="changeImg(this)" class="img">
                        <span id="l_errmsg">提示信息</span>
                    </form>
                    <script>
                        function changeImg(ths) {
                            // 硬编码
                            ths.src = '/verify_code/?temp=' + Math.random();
                        }
                    </script>
                    <button type="submit" class="btn2 btn-primary" onclick="login()">Sig in</button>
                    <a class="text-center" data-toggle="modal" data-dismiss="modal" data-target="#register">立即注册</a>
                </div>
            </div>
            <!-- 模态框（Modal） 登录结束-->
        {% endif %}
    </div>
    <!--头部注册登录结构结束-->
</header>
<!--头部结构结束-->
