<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>主题词云网</title>
    <link rel="shortcut icon" type="image/x-icon" href='{% static "images/img/favicon.png" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "bootstrap-3.3.7-dist/css/bootstrap.min.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}'>
    <link rel="stylesheet" type="text/css" href=' {% static "css/modal.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/index.css" %}'>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static "js/login.js" %}"></script>
    <script type="text/javascript" src="{% static "js/register.js" %}"></script>
      <script type="text/javascript" src="{% static "js/index.js" %}"></script>

</head>
<body id="bg">
<!--页面预加载==================================== -->
<div id="loading-mask">
    <div class="loading-img">
        <img alt="Meghna Preloader" src="../static/images/img/preloader.gif"/>
    </div>
</div>
<!--结束预加载==================================== -->

<!--导入头部==================================== -->
{% include 'header.html' %}
<!--导入头部结束==================================== -->

<!--主页section开始==================================== -->
<section id="home">
    <div class="container">
        <div class="row">

            <!-- 主页标题 -->
            <div class="title_page">
                <h2>Home <span class="color">Page</span></h2>
                <div class="border"></div>
            </div>
            <!-- /主页标题 -->

            <!-- 传统文化 -->
            <div class="col-md-4 text-center">
                <div class="wrap-home">
                    <div class="icon-box">
                        <span class="glyphicon glyphicon-cloud"
                              style="font-size: 60px;color: #f0f0f0;"></span>
                    </div>
                    <!-- 内容 -->
                    <div class="home-page text-center">
                        <h3>传统文化</h3>
                        <p>Traditional culture</p>
                    </div>
                </div>
            </div>
            <!-- /传统文化 -->

            <!-- 生态文明 -->
            <div class="col-md-4 text-center">
                <div class="wrap-home">
                    <div class="icon-box">
                        <span class="glyphicon glyphicon-tree-deciduous"
                              style="font-size: 60px;color: #f0f0f0;"></span>
                    </div>
                    <!-- 内容 -->
                    <div class="home-page text-center">
                        <h3>生态文明</h3>
                        <p>Ecological Civilization</p>
                    </div>
                </div>
            </div>
            <!-- /生态文明 -->

            <!-- 党建主题 -->
            <div class="col-md-4 text-center">
                <div class="wrap-home kill-margin-bottom">
                    <div class="icon-box">
                        <span class="glyphicon glyphicon-star"
                              style="font-size: 60px;color: #f0f0f0;"></span>
                    </div>
                    <!-- 内容 -->
                    <div class="home-page text-center">
                        <h3>党建主题</h3>
                        <p>Party Building</p>
                    </div>
                </div>
            </div>
            <!-- /党建主题 -->
        </div>        <!-- End row -->
    </div>    <!-- End container -->
</section>
<!--主页section结束==================================== -->


<!--主体部分开始-->
<div class="wrap clearfix">
    <!--主体结构开始-->
    <main>
        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    <ul class="articles">
                        <li>
                            <a href="http://www.zhwh365.com/article_2858.html">
                                <h2 class="title_index">浅谈中华传统中医疗法“刮痧”的历史以及发展</h2>
                                <p>
                                    刮痧是以中华传统中医经络腧穴理论为指导，通过特制的刮痧器具和相应的手法，蘸取一定的介质，在体表进行反复刮动、摩擦，使皮肤局部出现红色粟粒状，或暗红色出血点等“出痧”变化，从而达到活血透痧的作用。</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.zhwh365.com/article_2852.html">
                                <h2 class="title_index">一个被世人遗忘,却又温暖的节日“寒衣节”你了解多少</h2>
                                <p>
                                    寒衣节，农历十月初一，谓之"十月朝"。我国自古以来就有新收时祭奠祖宗的习俗，以示孝敬，不忘本。古人们也在农历十月初一用黍矐祭祀祖，农历十月初一祭祀祖先，有家祭、也有墓祭，南北方都是如此，今天江南的许多地区，还有十月初一祭新坟的传统习俗。</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.zhwh365.com/article_2754.html">
                                <h2 class="title_index">中国第46个世界遗产项目——京杭大运河</h2>
                                <p>
                                    真正要达到“学”的层级，课堂必须在第三个层级“问题解决与应用”和第四个层级“思维迁移与创造”中展开学习任务，学生的时间和空间就相对比较大，横坐标上学生的自主性也比较高，就会走到比较高的层级，这才是一个理想状态。</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.zhwh365.com/article_2715.html">
                                <h2 class="title_index">世界第三大无人区——可可西里</h2>
                                <p>可可西里保护区位于中国青藏高原西北部，面积4.5万平方公里，是世界第三大无人区，也是中国四大无人区之一，因此保留着完全的原始自然状态，成为野生动物的一片乐土。</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul class="articles">
                        <li>
                            <a href="http://www.zhwh365.com/article_2858.html">
                                <h2 class="title_index">浅谈中华传统中医疗法“刮痧”的历史以及发展</h2>
                                <p>
                                    刮痧是以中华传统中医经络腧穴理论为指导，通过特制的刮痧器具和相应的手法，蘸取一定的介质，在体表进行反复刮动、摩擦，使皮肤局部出现红色粟粒状，或暗红色出血点等“出痧”变化，从而达到活血透痧的作用。</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.zhwh365.com/article_2852.html">
                                <h2 class="title_index">一个被世人遗忘,却又温暖的节日“寒衣节”你了解多少</h2>
                                <p>
                                    寒衣节，农历十月初一，谓之"十月朝"。我国自古以来就有新收时祭奠祖宗的习俗，以示孝敬，不忘本。古人们也在农历十月初一用黍矐祭祀祖，农历十月初一祭祀祖先，有家祭、也有墓祭，南北方都是如此，今天江南的许多地区，还有十月初一祭新坟的传统习俗。</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.zhwh365.com/article_2754.html">
                                <h2 class="title_index">中国第46个世界遗产项目——京杭大运河</h2>
                                <p>
                                    真正要达到“学”的层级，课堂必须在第三个层级“问题解决与应用”和第四个层级“思维迁移与创造”中展开学习任务，学生的时间和空间就相对比较大，横坐标上学生的自主性也比较高，就会走到比较高的层级，这才是一个理想状态。</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.zhwh365.com/article_2715.html">
                                <h2 class="title_index">世界第三大无人区——可可西里</h2>
                                <p>可可西里保护区位于中国青藏高原西北部，面积4.5万平方公里，是世界第三大无人区，也是中国四大无人区之一，因此保留着完全的原始自然状态，成为野生动物的一片乐土。</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <ul class="articles">
                        <li>
                            <a href="http://www.zhwh365.com/article_2858.html">
                                <h2 class="title_index">浅谈中华传统中医疗法“刮痧”的历史以及发展</h2>
                                <p>
                                    刮痧是以中华传统中医经络腧穴理论为指导，通过特制的刮痧器具和相应的手法，蘸取一定的介质，在体表进行反复刮动、摩擦，使皮肤局部出现红色粟粒状，或暗红色出血点等“出痧”变化，从而达到活血透痧的作用。</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.zhwh365.com/article_2852.html">
                                <h2 class="title_index">一个被世人遗忘,却又温暖的节日“寒衣节”你了解多少</h2>
                                <p>
                                    寒衣节，农历十月初一，谓之"十月朝"。我国自古以来就有新收时祭奠祖宗的习俗，以示孝敬，不忘本。古人们也在农历十月初一用黍矐祭祀祖，农历十月初一祭祀祖先，有家祭、也有墓祭，南北方都是如此，今天江南的许多地区，还有十月初一祭新坟的传统习俗。</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.zhwh365.com/article_2754.html">
                                <h2 class="title_index">中国第46个世界遗产项目——京杭大运河</h2>
                                <p>
                                    真正要达到“学”的层级，课堂必须在第三个层级“问题解决与应用”和第四个层级“思维迁移与创造”中展开学习任务，学生的时间和空间就相对比较大，横坐标上学生的自主性也比较高，就会走到比较高的层级，这才是一个理想状态。</p>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.zhwh365.com/article_2715.html">
                                <h2 class="title_index">世界第三大无人区——可可西里</h2>
                                <p>可可西里保护区位于中国青藏高原西北部，面积4.5万平方公里，是世界第三大无人区，也是中国四大无人区之一，因此保留着完全的原始自然状态，成为野生动物的一片乐土。</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="carousel-control left" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control right" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </main>
    <!--主体结构结束-->

    <!--侧栏结构开始-->
    <aside>
        <h2>相关链接</h2>
        <ul>
            <li><a class="glyphicon glyphicon-cloud" href="https://www.zhwh365.com/"> 传统文化网</a></li>
            <li><a class="glyphicon glyphicon-cloud" href="http://www.zgctwh.com.cn/"> 中国传统文化网</a></li>
            <li><a class="glyphicon glyphicon-tree-deciduous" href="http://www.wenming.cn/ll_pd/stwm//"> 生态文明--中国文明网</a>
            </li>
            <li><a class="glyphicon glyphicon-tree-deciduous" href="http://www.cecrpa.org.cn/"> 中国生态文明网</a></li>
            <li><a class="glyphicon glyphicon-star" href="http://dangjian.people.com.cn/"> 党建人民网</a></li>
            <li><a class="glyphicon glyphicon-star" href=" http://www.dangjian.cn/"> 党建网</a></li>
        </ul>
        <a class="index_contact" href="/contact/"><h2>联系我们</h2>
            <p href="/contact/">
                <span class="glyphicon glyphicon-home"></span> 内蒙古师范大学盛乐校区<br/>
                <span class="glyphicon glyphicon-earphone"></span> 15848143083<br/>
                <span class="glyphicon glyphicon-qrcode"></span> wxid_lzrts6u2kbug22<br/>
                <span class="glyphicon glyphicon-phone"></span> 1796167760<br/>
                <span class="glyphicon glyphicon-envelope"></span> themecloud2020@163.com
            </p>
        </a>

    </aside>
    <!--侧栏结构结束-->
</div>
<!--主体部分结束-->
<!-- start footer -->

{% include 'footer.html' %}

<!-- end footer -->
</body>
</html>
