<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/base.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css/">
    <title>登录</title>
    <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
</head>
<body>
<!--顶部结构开始-->
div class="top">
    <p class="wrap">欢迎来到主题词云
        {% if request.session.is_login %}
            <span>
                用户：<em>{{ request.session.user_name }}</em>
                <a href="/logout/">退出</a>
            </span>
        {% else %}
            <a href="/register/">注册</a>
            <a href="/login/">登录</a>
        {% endif %}
    </p>
</div>
<!--顶部结构结束-->

<!--头部结构开始-->
<header class="wrap">
    <h1>李白词云</h1>
    <ul>
        <li><a href="/index/">主页</a></li>
        <li><a href="/about/">关于我们</a></li>
        <li><a href="/instruction/">主题词云</a></li>
        <li><a href="/work/">开始制作</a></li>
        <li><a href="/contact/">联系我们</a></li>
    </ul>
</header>
<!--头部结构结束-->

<div class="login_div">
    <div class="login-box">
        <div class="title"><span><strong>用户登录</strong><a href="/register/">>> 立即注册</a> </span></div>
        <div class="login_inner">
            <input id="username" type="text" placeholder="请输入用户名" autocomplete="off">
            <input id="password" type="password" placeholder="请输入密码" autocomplete="off">
            <div class="submit_btn">
                <input type="submit" value="登 录" id="loginBtn" onclick="login();">
            </div>
            <div id="errormessage"> {{ errmsg }}</div>
        </div>
    </div>
</div>
</body>
<script>
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
})
//点击登录按钮 ，提交数据
function login() {
    let userName = document.getElementById('username').value;
    let passWord = document.getElementById('password').value;
    $.ajax({
        'url': '/login/',
        'type': 'post',
        'data': {'username': userName, 'password': passWord},
        'dataType': 'json',
        success: function (data) {
            if (data.res == 1)
                location.href = '/index';
            else {
                $('#errormessage').show().html('用户名或密码错误!');
            }
        }
    })
}
</script>
</html>