{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册成功</title>
    <link rel="shortcut icon" type="image/x-icon" href='{% static "images/img/favicon.png" %}'>
    <link rel="stylesheet" href='{% static "css/base.css" %}' type="text/css"/>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static "js/register_success.js" %}"></script>
</head>

<body id="bg">
<h2>用户注册成功！</h2>
<h3>请到相应邮箱激活，激活后才可以登录</h3>
<h3 id="sp">3秒后自动跳转到主页。</h3>
</body>
<style>
    h2 {
        padding-top: 200px;
        color: #dddddd;
        font-size: 50px;
        text-align: center;
    }

    h3 {
        color: #dddddd;
        font-size: 30px;
        text-align: center;
    }
</style>
