<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>制作词云</title>
    <link rel="shortcut icon" type="image/x-icon" href='{% static "images/img/favicon.png" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "bootstrap-3.3.7-dist/css/bootstrap.min.css" %}'/>
    <link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}'>
    <link rel="stylesheet" type="text/css" href=' {% static "css/modal.css" %}'>
     <link rel="stylesheet" type="text/css" href='{% static "css/work.css" %}'>
     <link rel="stylesheet" type="text/css" href='{% static "css/work_menu.css" %}'>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static "js/background.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
    <script type="text/javascript" src="{% static "js/login.js" %}"></script>
    <script type="text/javascript" src="{% static "js/register.js" %}"></script>
</head>
<body id="bg">
<!--顶部结构开始-->
{% include "header.html" %}
<!--头部结构结束-->

<section id="wordcloud">
    <div class="container">
        <div class="row">

            <!--section title-->
            <div class="title_page">
                <h2>Word <span class="color">Cloud</span></h2>
                <div class="border"></div>
            </div>
            <!-- /section title -->

            <!-- Contact Details -->
            <div class="work_div">
                <aside>
                    <div class="swanky_wrapper">
                        <input id="Theme" name="radio" type="radio">
                        <label for="Theme">
                            <img src="../static/images/img/cp.png">
                            <span>主题</span>
                            <div class="lil_arrow"></div>
                            <div class="bar"></div>
                            <div class="swanky_wrapper__content">
                                <ul>
                                    <li>传统文化主题</li>
                                    <li>生态文明主题</li>
                                    <li>党建主题</li>
                                    <li>自定义主题</li>
                                </ul>
                            </div>
                        </label>
                        <input id="Sales" name="radio" type="radio">
                        <label for="Sales">
                            <img src="../static/images/img/del.png">
                            <span>模板</span>
                            <div class="lil_arrow"></div>
                            <div class="bar"></div>
                            <div class="swanky_wrapper__content">
                                <ul>
                                    <li>主题</li>
                                    <li>文字</li>
                                    <li>上传</li>
                                </ul>
                            </div>
                        </label>
                        <input id="Style" name="radio" type="radio">
                        <label for="Style">
                            <img src="../static/images/img/mess.png">
                            <span>样式</span>
                            <div class="lil_arrow"></div>
                            <div class="bar"></div>
                            <div class="swanky_wrapper__content">
                                <ul>
                                    <li>文字</li>
                                    <li>字体</li>
                                    <li>文字间隔</li>
                                    <li>旋转概率</li>
                                    <li>背景色</li>
                                </ul>
                            </div>
                        </label>
                        <input id="Download" name="radio" type="radio">
                        <label for="Download">
                            <img src="../static/images/img/users.png">
                            <span>下载</span>
                            <div class="lil_arrow"></div>
                            <div class="bar"></div>
                            <div class="swanky_wrapper__content">
                                <ul>
                                    <li>高</li>
                                    <li>中</li>
                                    <li>低</li>
                                </ul>
                            </div>
                        </label>
                        <input id="Settings" name="radio" type="radio">
                        <label for="Settings">
                            <img src="../static/images/img/set.png">
                            <span>设置</span>
                            <div class="lil_arrow"></div>
                            <div class="swanky_wrapper__content">
                                <ul>
                                    <li>用户</li>
                                    <li>退出</li>
                                </ul>
                            </div>
                        </label>
                    </div>
                    <div id="program">
                        <form name="Form1" method="post" action="http://127.0.0.1:8000/work/w_cloub">
                            <input type="submit" value="提交" id="Botton"/>
                        </form>
                    </div>

                </aside>
                <main>
                    <div class="cloub_work">
                        <img src="{% static 'dome1.png' %}">
                    </div>
                </main>
            </div>
            <!-- ./End Contact Form -->

        </div> <!-- end row -->
    </div> <!-- end container -->
</section>
<!-- end section -->


{% include "footer.html" %}

</body>
</html>
