/*头部右侧模态框按钮样式开始*/
header .register_login {
    display: block;
    width: 40px;
    height: 20px;
    background-color: #2b2c30;
    border-left: #6cb570 1px solid;
    border-right: none;
    border-top: none;
    border-bottom: none;
    color: #FFFFFF;
    font-size: 10px;
    float: left;
}

header .register_login:hover {
    border-bottom: #6cb570 1px solid;
    border-left: #6cb570 1px solid;
}

/*头部右侧模态框按钮样式结束*/


/*模态框样式开始*/
.m-body {
    width: 400px;
    height: 430px;
    margin: 10% auto;
    border: #444549 solid 1px;;
    border-radius: 5px;
    padding: 0 20px 0 20px;
    background-color: white;
}

.m-body .m-title {
    padding: 20px;
    font-size: 24px;
    color: #6cb570;
    text-align: left;
}

input:hover {
    border: 1px solid #6cb570;
}

.m-body .btn {
    display: block;
    width: 288px;
    height: 38px;
    background-color: white;
    border: 1px solid #e0e0e0;
    float: left;
    color: #1f1f1f;
}

.m-body .btn:hover {
    background-color: #6cb570;
    color: #c9e2b3;
}

.m-body a {
    display: block;
    font-size: 14px;
    float: left;
    line-height: 40px;
    width: 70px;
    height: 40px;
    color: #5bc0de;
    text-align: left;
}

.m-body .reg_form {
    width: 100%;
    height: 280px;
    margin: 0 auto;
}

.m-body .reg_form li {
    height: 70px;
}

.m-body .reg_form li label {
    width: 70px;
    height: 40px;
    line-height: 40px;
    float: left;
    font-size: 14px;
}

.m-body .reg_form li input {
    width: 288px;
    height: 38px;
    border: 1px solid #e0e0e0;
    float: left;
    outline: none;
    text-indent: 10px;
    color: #000000;
}

.m-body .reg_form li.agreement input {
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 13px
}

.m-body .reg_form li.agreement label {
    width: 300px;
    float: left;
    margin-left: 10px;
}

.m-body #errormessage, #r_errmsg, #l_errmsg {
    float: left;
    height: 20px;
    line-height: 20px;
    color: #e62e2e;
    display: none;
}

.m-body .login_form {
    width: 300px;
    margin: 30px auto;
}

.m-body .login_form input {
    width: 300px;
    height: 50px;
    border: 1px #666666 solid;
    margin-bottom: 15px;
}

#code{
    width:150px;
}

.m-body .btn2 {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    background-color: white;
    border: 1px solid #e0e0e0;
    font-size: 25px;
    color:  #333439;
}

.m-body .btn2:hover {
    background-color: #6cb570;
    color: #FFFFFF;
}

.m-body a {
    color: #5bc0de;
}

/*模态框样式结束*/